<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JuegoPreguntas.My.MySettings.linkstartConnectionString"
            connectionString="server=192.168.6.200;user id=root;password=Almi123;persistsecurityinfo=True;database=linkstart"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>